
<fa-icon [icon]="filmIcon" size="3x"></fa-icon><br>
<fa-icon [icon]="fishIcon" size="3x"></fa-icon><br>
<fa-icon [icon]="bellIcon" size="3x"></fa-icon><br>
<fa-icon [icon]="bollIcon" size="3x"></fa-icon><br>
<fa-icon [icon]="twitterIcon" size="3x"></fa-icon><br>
<fa-icon [icon]="facebookIcon" size="3x"></fa-icon><br>
<fa-icon [icon]="angularIcon" size="3x"></fa-icon><br>
<div style="font-size:15px;color:red">
 <!--  <fa-icon [icon]="['fab', 'angular']" size="3x"></fa-icon> -->
  <fa-icon [icon]="twitterIcon" size="3x"></fa-icon><br>
  <fa-icon [icon]="facebookIcon" size="3x"></fa-icon><br>
  <fa-icon [icon]="angularIcon" size="3x"></fa-icon><br>
</div>

<button class="btn btn-danger">Boton</button>


<router-outlet></router-outlet>
